@use '../variables'
@use '../mixins'

.technologies-container
    margin-bottom: 1rem

    .technologies-grid
        display: flex
        flex-wrap: wrap
        gap: 0.5rem


        .technology-card
            @include mixins.center
            gap: 1rem
            padding: 0.5rem
            border: 1px solid #333
            width: fit-content
            border-radius: variables.$card-border-radius

            align-items: center
            justify-content: center


        svg
            height: 30px
            width: 30px
        h3
            color: variables.$text-color


        #html
            svg
                color: #E44D26
        #css
            svg
                color: #1572b6
        #js
            svg
                color: #f0db4f

        #node
            svg
                color: #83cd29
        #git
            svg
                color: #F05030

        #react
            svg
                color: #61dafb
        #sass
            svg
                color: #CF649A
        #sql
            svg
                color: #E48E00
        #bootstrap
            svg
                color: #6F0FE6
        #laravel
            svg
                color: #FF0000


.projects-grid

    @media screen and (max-width: 1060px)
        flex-wrap: nowrap
        flex-direction: column
        align-content: center

        .project-card
            width: 100%
